.categories{
  
    width: 300px;

}

.categories ul {
    list-style: none;
    
    
}
.categories p {
    padding-inline: 10px;

}
.category{
    width: 150px;
    text-align: left;
    margin-block: 10px;
    font-size: 1.2rem;
    padding-inline: 10px;
    padding-block: 5px;
    cursor: pointer;

    
}

.category:hover{
    background-color: #DDE6ED;
    border: 1px solid #DDE6ED ;
    border-radius: 7px;
}